<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="dms" />
            <add name="php-cgi.exe" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Webserver\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
